

<div *ngIf="data | async as data; else spinner" class="text-center">
  <h1><b>Superheroes List</b></h1>
  <h2>Filter by name</h2>

  <shared-search-box
      (onDebounce)="filterSuperhero($event)"
      placeholder="Search Superhero..."
      [initialValue]="initialValue"
      ></shared-search-box>

  <mat-divider class="mb-4"></mat-divider>

  <div class="container mb-8">
    <div class="row">
      <div
      *ngFor="let superhero of superheroes"
      class="col-12 col-sm-4 col-md-3 mb-4">
      <superheroes-superhero-card [superhero]="superhero"></superheroes-superhero-card>
    </div>
    </div>

  </div>
</div>

<ng-template #spinner>
  <h1 class="text-center p-2">Loading Superheroes</h1>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
